.background {
	background-image:Embed(source='background.jpg');
}

.score {
	font-family: Arial;
	color: red;
	font-weight: bold;
	font-size: 30;
}

@font-face {
	src:url("digital-7.ttf");
	fontFamily: digitFont;
	advancedAntiAliasing: true;
}

.time {
	font-family: digitFont;
	color: black;
	font-size: 30;
}



