.background {
	background-image:Embed(source='background.png');
}

.item01 {
	background-image:Embed(source='item01.png');
}
.item02 {
	background-image:Embed(source='item02.png');
}
.item03 {
	background-image:Embed(source='item03.png');
}
.item04 {
	background-image:Embed(source='item04.png');
}
.item05 {
	background-image:Embed(source='item05.png');
}