.background {
	background-image:Embed(source='background.png');
}

.score {
	font-family: Arial;
	color: red;
	font-weight: bold;
	font-size: 30;
}

.time {
	font-family: Arial;
	color: black;
	font-weight: bold;
	font-size: 30;
}