.background {
	background-image:Embed(source='background.jpg');
}

.score {
	font-family: Arial;
	color: red;
	font-weight: bold;
	font-size: 30;
}

@font-face {
	src:url("digital-7.ttf");
	fontFamily: digitFont;
	advancedAntiAliasing: true;
}

.time {
	font-family: digitFont;
	color: black;
	font-size: 30;
}

.gameRule {
	background-image:Embed(source='but_help.png');
}
.gameRuleActive {
	background-image:Embed(source='but_help_hl.png');
}
.howToPlay {
	background-image:Embed(source='but_term.png');
}
.howToPlayActive {
	background-image:Embed(source='but_term_hl.png');
}
.hightscoreListLink {
	background-image:Embed(source='but_winner.png');
}
.txtGameRule {
	background-image:Embed(source='term_background.png');
	fontFamily: Arial;
	font-style: italic;
	font-size: 16;
}



