.background {
	background-image:Embed(source='background.jpg');
}

.backgroundFinish {
	background-image:Embed(source='result_background.jpg');
}

.backgroundSubmit {
	background-image:Embed(source='submit_background.jpg');
}

.backgroundTVC {
	background-image:Embed(source='tvc.png');
}

.textbox1 {
	background-image:Embed(source='textbox1.png');
}
.textbox2 {
	background-image:Embed(source='textbox2.png');
}

.textbox3 {
	background-image:Embed(source='textbox3.png');
}
.combobox {
	background-image:Embed(source='dropdown.png');
}


@font-face {
	src:url("digital-7.ttf");
	fontFamily: digitFont;
	advancedAntiAliasing: true;
}
.score {
	font-family: digitFont;
	color: red;
	font-size: 50;
}

.time {
	font-family: digitFont;
	color: black;
	font-size: 30;
}

.countDownText {
	font-family: digitFont;
	color: #ffff00;
	font-size: 300pt;
}

.resultScore {
	font-family: Arial;
	color: #ff0000;
	font-size: 30pt;
	font-weight: bold;
}

.howToPlay {
	background-image:Embed(source='but_help.png');
}
.howToPlayActive {
	background-image:Embed(source='but_help_hl.png');
}
.gameRule {
	background-image:Embed(source='but_term.png');
}
.gameRuleActive {
	background-image:Embed(source='but_term_hl.png');
}
.hightscoreListLink {
	background-image:Embed(source='but_winner.png');
}
.txtGameRule {
	background-image:Embed(source='term_background.png');
	background-color: undefined;
	font-family: Arial;
	font-style: italic;
	font-size: 14;
}

.top5Highscore {
	fontFamily: Arial;
	font-weight: bold;
	font-size: 16;
	color: #fcf14d;
	textAlign: center;
}

.highscoreScoreBackground {
	background-image:Embed(source='score.png');
}
.highscoreScoreText3Digit {
	fontFamily: Arial;
	fontSize: 14;
	color: red;
	textAlign: center;
}
.highscoreScoreText4Digit {
	fontFamily: Arial;
	fontSize: 11;
	color: red;
	textAlign: center;
}
.highscoreFullname {
	fontFamily: Arial;
	fontSize: 14;
	color: white;
	textAlign: left;
}

.agreeTerm {
	fontFamily: Arial;
	fontSize: 14;
	fontStyle: bold;
	color: white;
}


